<!doctype html>
<html lang="ex" xmlns:th="http://www.thymeleaf.org"></html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EQUIPO 1</title>
  
  <link rel="stylesheet" media="all" href="../static/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
  <h1>Prueba de Biblioteca</h1>
  <p>La Biblioteca Carlos Fuentes cuneta con un gran flujo de personas.
    Por lo que se tiene planeado que este servicio pueda administrar y tener un control sobre este flujo:  
  </p>
    <ol>   
      <li>Registrar reservaciones:
        Captura los datos de las nuevas reservaciones y las almacena en el sistema</li>
      <li>Buscar reservaciones:
        Permite al administrador localizar alguna reservación específica</li>
      <li>Borrar reservaciones:
        Elimina las reservaciones que ya no serán requeridas</li>
      <li>Registrar visitantes:
        Permite que el administrador de la biblioteca lleve un resgitro y control de la información de los nuevos visitantes</li>
      <li>Agregar servicio:
        Su función es registrar los datos de los nuevos servicios que se ofrecerá</li>
      <li>Listar servicio:
        Muestra una lista de los servicios que ya se encuentran registrados</li>
      <li>Eliminar servicio:
        Elimina aquellos servicios que ya no serán requeridos</li>
    </ol>

</body>

<br>
  <h2>Sistema de Control de Afluencia en Sitios Turísticos de Xalapa</h2>
  <a href="https://biblioteca-tis.herokuapp.com/ws/biblioteca.wsdl">ingresar al wsdl</a>
<div class='ripple-background'>
  <div class='circle xxlarge shade1'></div>
  <div class='circle xlarge shade2'></div>
  <div class='circle large shade3'></div>
  <div class='circle mediun shade4'></div>
  <div class='circle small shade5'></div>
</div>
</body>

<body> </body>
    
</body>>
</html>