<!DOCTYPE html>
<html lang="ex" xmlns:th="http://www.thymeleaf.org"></html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EQUIPO 1</title>
    <link rel="stylesheet" media="all" href="../static/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
    <h1>Registro de Visitantes</h1>
    <br>
    <ol>
        <a href="https://registrovisitantes-tis.herokuapp.com/buscarVisitante">Listar Visitantes</a>
        <li>Registrar Visitante: 
            permitirá al administrador capturar y almacernar los datos de los nuevos visitantes</li>
        <br>
        <div id="RegistrarVisitante" role="dialog">
            <form action="index.php" method="POST" name="formulario">
                <label for="xxx">Nombre:</label>
                <input type="text" id="nombre" name="saludador">
                <br><br>
                <label for="xxx">Team:</label>
                <input type="text" id="team" name="saludador">
                <br><br>
                <label for="xxx">Tipo:</label>
                <input type="text" id="tipo" name="saludador">
                <br><br>
                <button type="submit" name="btnSaludar">Saludar!!</button>
            </form>
        </div>
        <br>
        <li>Eliminar Visitante:
            En caso de ya no ser requerido la información de visitante, se podrá eleminar.</li>
        <br>
        <li>Modificar Visitante:
            La modificación de información del visitante es importante para actualizar la información</li>
        <br><br>
        <li>Buscar Visitante:
            Para un mejor servicio, y rápidez, se podrá buscar la información de los visitantes que se deseen</li>
    </ol>
</body>
</html>