<!doctype html>
<html lang="ex" xmlns:th="http://www.thymeleaf.org"></html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EQUIPO 1</title>
  
  <link rel="stylesheet" media="all" href="../static/css/style.css" th:href="@{/css/style.css}"/>
</head>
<a href="https://agora-tis.herokuapp.com/ws/agora.wsdl">Se ingresa al WSDL</a>
<body>
  <h1>Prueba de Ágora</h1>
 <br>
   <p>El Ágora debe llevar un control adecuado de los datos de los usuarios que se registras, es por ello que debe:
   </p>
     <ol>
       <li>Agregar Evento:
         Se Registran los datos de los eventos y los guarda en el sistema</li>
       <li>Listar Evento:
         Compara la informacion con la base de datos y muestra la que sea igual al dato solicitado</p>li>
       <li>Listar Visitantes: 
           Se muestran los visitantes que estan</li>
       <li>Registrar Pelicula:
         Guarda la informacion de una pelicula</li>
       <li>Registrar Visitantes:
         Guarda el flujo de personas que hay durante el dia para un mayor control</li>
     </ol>
    </br>
 </body>
<body>
  <h1>Sistema de Control de Afluencia en Sitios Turísticos de Xalapa</h1>
  <a hrIf="/ws/agora.wsdl">
  <br><br>ingresar al wsdl</a>
  <a hrIf="/ws/agora.wsdl">ingresar al wsdl</a>
<div class='ripple-background'>
  <div class='circle xxlarge shade1'></div>
  <div class='circle xlarge shade2'></div>
  <div class='circle large shade3'></div>
  <div class='circle mediun shade4'></div>
  <div class='circle small shade5'></div>
</div>
</body>


</html>