<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="all" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <title>Prueba de Pinacoteca</title>
</head>
<body>
    <a href="/ws/pinacoteca.wsdl">ingresas al wsdl</a> 

    <h1 style="font-family:Comic Sans" text-align="center">Prueba de Pinacoteca</h1>
    <p>La pinacoteca Diego Rivera trabaja con la administración y almacenamiento de datos constantes.
        Es por ello que require de un sistema que contenga los siguientes espacios:
    </p>
        <ol>
            <li>Agregar Eventos</li>
                <p>Su función es registrar y almacenar los datos de los eventos por presentar en donde se almacenaran los precios que tendra la entrada del evento, la fecha, una descripcion de este y el artista </p>   
            <li>Listar Eventos</li>
                <p>Muestra en una lista todos los eventos registrados </p>
            <li>Listar Artista</li>
                <p>Muestra en una lista todos los artistas registrados</p>
            <li>Listar Visitantes</li>
                <p>Muestra una lista de todos los visitantes registrados</p>
            <li>Registrar Artista</li>
                <p>Su función es registrar y almacenar los datos de los artistas por presentar</p>
            <li>Registrar Visitantes</li>   
                <p>Su función es registrar y almacenar los datos de los visitantes por presentar</p>
           
        </ol>

</body>
<div class='ripple-background'>
    <div class='circle xxlarge shade1'></div>
    <div class='circle xlarge shade2'></div>
    <div class='circle large shade3'></div>
    <div class='circle mediun shade4'></div>
    <div class='circle small shade5'></div>
</div>
</html>

