<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="all" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <title>Prueba de Pinacoteca</title>
</head>
<body>
    <a href="https://pinacoteca-tis.herokuapp.com/ws/pinacoteca.wsdl">ingresas al wsdl</a> 

    <h1 
    <p>La pinacoteca Diego Rivera trabaja con la administración y almacenamiento de datos constantes.
        Es por ello que require de un sistema que contenga los siguientes espacios:
    </p>
        <ol>
            <li>Agregar Eventos:
                Su función es registrar y almacenar los datos de los eventos por presentar en donde se almacenaran los precios que tendra la entrada del evento, la fecha, una descripcion de este y el artista</li>   
            <li>Listar Eventos:
                Muestra en una lista todos los eventos registrados</li>
            <li>Listar Artista:
                Muestra en una lista todos los artistas registrados</li>
            <li>Listar Visitante: 
                Muestra una lista de todos los visitantes registrados</li>
            <li>Registrar Artista: 
                Su función es registrar y almacenar los datos de los artistas por presentar</li>
            <li>Registrar Visitantes:
                Su función es registrar y almacenar los datos de los visitantes por presentar</li>
           
        </ol>
    <script>
        document.getElementById('btnGuardar').onclick = function(){
            Registrar();
        }
    function Registrar(){
        
        $.soap({
            url: 'https://pinacoteca-tis.herokuapp.com/ws/pinacoteca.wsdl',
                method: 'AgregarEvento',
            data: {
                nombre: 'Joaquin',
                Descripcion: 'Hi!',
                Fecha: 'hoy',
                Hora: 'ahora',
                Costo: '45'
            },
            success: function (soapResponse) {
                soapResponse.getString();
    // do stuff with soapResponse
    // if you want to have the response as JSON use soapResponse.toJSON();
    // or soapResponse.toString() to get XML string
    // or soapResponse.toXML() to get XML DOM
            },
            error: function (SOAPResponse) {
    // show error
            }
        });

        var client = new XMLHttpRequest();
        client.open('POST', 'https://pinacoteca-tis.herokuapp.com/ws/pinacoteca.wsdl');
        client.onreadystatechange = function () {
            var request = client.responseText;//here the wsdl

            //SOAP request
            var client2 = new XMLHttpRequest();
                client2.open('POST', 'http://83.212.96.238:8080/DgesvSampleWs/DgesvSampleWsService', true);

        client2.onreadystatechange = function () {
          if (client2.readyState == 4) {
            if (client2.status == 200) {
              console.log(client.responseText);//here the response
            }
          }
        }
        client2.setRequestHeader('Content-Type', 'text/xml');
        client2.send(request);
}

client.send();
    }
    </script>
    <div id="" role="dialog">
        <form name="formulario">
            <label for="xxx">Nombre:</label>
            <br><br>
                <input type="text" id="Nombre" name="saludador">
                <label for="xxx">Descripcion:</label>
                <br><br>
                <input type="text" id="Decripcion" name="saludador">
                <label for="xxx">Fecha:</label>
                <input type="text" id="Fecha" name="saludador">
                <br><br>
                <label for="xxx">Hora:</label>
                <input type="text" id="Hora" name="saludador">
                <br><br>
                <label for="xxx">Costo:</label>
                <input type="text" id="Costo" name="saludador">
                <br><br>
                <button type="button" id="btnGuardar" onclick="Registrar()" name="btnSaludar">Saludar!!</button>
        </form>
    </div>
   
</body>
<div class='ripple-background'>
    <div class='circle xxlarge shade1'></div>
    <div class='circle xlarge shade2'></div>
    <div class='circle large shade3'></div>
    <div class='circle mediun shade4'></div>
    <div class='circle small shade5'></div>
</div>
</html>

